/* MID TO LOW RES DESTOP SCREEN */

@media only screen and (min-width:1280px) and (max-width:1439px){

.trn-item .trn-st {
    width: 10%;
    text-align: center;
}

/* Currency states section */
.curr-st-card {
    height: 80px;
    white-space: nowrap;
}
.curr-st-bal {
    white-space: normal;
}
}

