/*Default*/
html{
    box-sizing: border-box;
    content: 'desktop';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
    font-family: roboto, lato, Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
    color: #303445;
    
    transition: all 200ms ease-out !important;
}

 /* colors

purp - #8C48AB - rgba(140, 72, 171, 1)
blue - #22B1DC - rgba(34, 177, 220, 1)
black - #303445 - rgba(19, 20, 27, 1)

red - #D23C2C
green - #37CC71

*/
.navbar .navicon {
    display: none;
}
h1, h2, h3, h4, h5, p, a {
    text-decoration: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #8C48AB;
}
ul {
    list-style: none;
}
body{
    padding: 0;
    margin: 0;
    
    background: transparent;
    width: 100vw;
    max-width: 100%;
/*    position: absolute;*/
    overflow-x: hidden;
}

/* Headings */

h1{ /*Titulos*/
    font-size: 2.4em;
    color: #8C48AB;
    font-weight: bold;
    text-align: center;
}
h2{ /*subtitulos*/
    font-size: 1.2em;
    color: #8C48AB;
    font-weight: normal;
}
h3{ /*encabezados*/
    font-size: 1em;
    color: #303445;
    font-weight: normal;
    text-align: center;
}
h4 { /* subtitulos centrado*/
    font-size: 1.4em;
    color: #303445;
    font-weight: normal;
    text-align: center;
}
.highlight-blue {
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
    color: rgba(34, 177, 220, 1);
}
.highlight-purp {
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
    color: rgba(140, 72, 171, 1);
}
/* Inputs */
input, textarea, select{
    border: solid 1px rgba(140, 72, 171, 0.6);
    border-radius: 20px;
    padding: 4px 12px;
    resize: none;
    background: #fff;
}
input::placeholder, textarea::placeholder, select::placeholder {
    color: #303445;
    opacity: .35;
    font-size: 1em;
}

input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: 0 0 8px rgba(140, 72, 171, 0.6);
}
.fake-input input, .fake-select select{
    border: none;
    border-radius: 0;
    display: inline;
    vertical-align: top;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    margin: 0;
    padding: 0;
    width: 90%;
    min-width: 14em;
    font-family: lato;
    font-size: 18px;
}
.fake-input, .fake-select {
    border: solid 1px rgba(140, 72, 171, 0.6);
    border-radius: 20px;
    padding: 4px 8px;
    resize: none;
    display: inline-block;
    max-height: 36px;
    
    background: #fff;
}
.fake-select {
    margin: 1.4em .4em;
    padding: .2em .8em;
    
    vertical-align: middle;
}
/*
.fake-select select, .fake-input input{
    min-width: 14em;
    -webkit-appearance: none;
    width: 82%;
}
*/
.fake-select .icon {
    font-size: 1.2em;
    color: rgba(140, 72, 171, 1);
/*    position: relative;*/
    display: inline-block;
}
.icon-left {
    vertical-align: inherit;
   
    display: inline-block;
    
    position: relative;
    left: 0%;
    top: -1.4em;
}
form .icon-left {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    left: 0;
}
.icon-right {
    display: inline-block;
    position: relative;
    left: 85%;
    top: -1.4em;
}
/* dropdown arrow */
.fake-select .icon-go {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    
    transition: transform 50ms ease;
    
    color: #8C48AB;
    
    pointer-events: none;
    
}
.fake-select:focus-within .icon-go {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
/* dropdown arrow */
.fake-input:focus-within, .fake-select:focus-within {
    box-shadow: 0px 0px 8px rgba(140, 72, 171, 0.6);
}
.fake-input input:focus, .fake-select select:focus {
    outline: none;
    box-shadow: none;
}
.fake-input .icon{
    color: rgba(140, 72, 171, 1);
    font-size: 21px;
    
    display: inline;
/*    vertical-align: top;*/
    
    height: 21px;
    width: 21px;
    
    margin: 0;
    padding: 0;
}
label {
    color: #303445;
    opacity: .6;
    
    margin-left: 16px;
    margin-bottom: 2px;
    
    line-height: 100%;
}

/* Animations */

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes modalFade {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes modalFade {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* ***** Parallax background ***** */

#layer1 {
    background: url(../img/parallaxBG/Group.png);
    background-repeat: no-repeat;
}
#layer3 {
    background: url(../img/parallaxBG/Group3.png);
    background-repeat: repeat-y;
}
#layer1, #layer2, #layer3 {
    width: 100%;
    max-height: 100%;
/*    height: 60%;*/
    min-height: 2000vh;
/*    background-repeat: no-repeat;*/
    background-position: center top;

/*    top: 1000;*/
    left: 0;
    position: fixed;
    z-index: -2;
}
/* ***** Botones ***** */

.button{
    height: 2.6em;
    line-height: 2em;
    min-width: 120px;
/*    max-width: 160px;*/
    border-radius: 1.6em;
    border: none;

    padding:0.4em 1.2em;
/*    margin-left: 24px;*/
    text-align: center;
    vertical-align: middle;
    
    color: #fff !important;
    font-size: .8em;
 }
.button:hover {
    cursor: pointer !important;
    text-decoration: none;
}
.purp {
    background: rgba(140, 72, 171, 1);
    box-shadow: 0px 2px 6px rgba(140, 72, 171, 0.6);
}
.purp:hover {
    box-shadow: 0 4px 16px rgba(140, 72, 171, 1) !important;
}
.blue {
    background: rgba(34, 177, 220, 1);
    box-shadow: 0px 2px 6px rgba(34, 177, 220, 0.6);
}
.blue:hover {
    box-shadow: 0 4px 16px rgba(34, 177, 220, 1) !important;
}
.mini-btn {
    max-height: inherit;
    line-height: normal;
    font-size: .8em;
    vertical-align: baseline;
    padding: auto;
/*    max-width: 4.6em;*/
}
a.text-button {
    background: none;
    border: none;
    outline: none;
    
    color: rgba(140, 72, 171, 1);
    text-decoration: none !important;
    
    display: inline-block;
    vertical-align: middle;
    
    cursor: pointer;
    
    transition: all 200ms ease-out;
}
a.text-button:hover .inner-button-text{
    border-bottom: 1px solid rgba(140, 72, 171, 1);
/*    text-decoration: underline;*/
}
a.text-button:hover .icon{
    text-shadow: 0px 4px 4px rgba(140, 72, 171, .6) !important;
    text-decoration: none !important;
}
a.text-button .icon {
    color: rgba(140, 72, 171, 1);
    font-size: 1.2em;
    
    display: inline;
    vertical-align: middle;
    margin-left: .4em;
}
a.text-button .inner-button-text {
    color: rgba(140, 72, 171, 1);
}
/* ***** Navbar ***** */

.navbar-wrapper{
    background: #FBFBFB;
    box-shadow: 0em .2em .6em rgba(34, 177, 220, 0.35);
    
    padding: 8px 32px;
/*    min-height: 40px;*/
    display: block;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
/*    direction: rtl;*/
}

.navIcon{
    display: inline-block;
    width: 24%;
}
.navIcon img{
    height: 2.8em;
    width: auto;
}
.navbar-inner {
/*
    display: inline-block;
    vertical-align: middle;
*/
/*    float: right;*/
/*    width: 50%;*/
    width: 75%;
    margin-top: .4em;
    display: inline-block;
    
    text-align: right;
}
.navbar{
    margin-right: 1em;
    text-align: right;
    display: inline-block;
/*    float: right;*/
/*    margin-top: 8px;*/
}
.icon.icon-menushort {
    display: none;
}
.navbar li {
    display: inline;
}
.navlink-ic {
    color: rgba(140, 72, 171, 1);
    display: inline-block;
    vertical-align: middle;
    margin-right: .2em;
    line-height: 1em;
}
.navlink{
    color: #8C48AB;
    text-decoration: none;
    margin-right: 24px;
    display: inline-block;
    vertical-align: middle;
}
/* ACTIVE PAGE NAVLINK
.navlink.active{
    background-color: rgba(140, 72, 171, 1);
    color: white;
    padding: .2em .4em;
    text-decoration: none;
}
.navlink.active:hover {
    background-color: rgba(34, 177, 220, 1);
}
*/
.active .navlink-ic {
    text-shadow: 0em 0em .4em rgba(140, 72, 171, .6);
}
.active .navlink {
/*    border-bottom: 1px solid inherit;*/
    text-decoration: underline;
}
.button-wrap .navlink.button {
    margin-right: 1.2em;
}
*:not(.navbar) > .navlink {
    vertical-align: baseline;
    margin: 0;
}
.button-wrap {
    margin-left: 24px;
    display: inline-block;
}
/* ***** Sections ***** */

/* shared */

section{
/*    display: block;*/
/*    margin-top: 80px;*/
/*    position: absolute;*/
    width: 100%;
    margin-bottom: 12%;
}
section:last-of-type {
    margin-bottom: 0;
}
.section-description{
    width: 50%;
    margin: 16px auto;
}
.specs {
    padding: 181px 81px;
}
.spec-element {
    display: inline;
}
.spec-img {
    display: inline-block;
/*    max-width: 50%;*/
    vertical-align: middle;
    height: 128px;
    width: auto;
    max-width: 128px;
}
.spec-img-box {
    display: inline-block;
    width: 128px;
    min-width: 128px;
    text-align: center;
}
.spec-description {
    max-width: 60%;
    display: inline-block;
    vertical-align: middle;
}

/* #hero */

#hero{
    width: 100%;
/*    min-height: 100vh;*/
    display: block;
/*    background: linear-gradient(top, #fff, 100%, #fff, 0%);*/
}
#hero-logo{
    height: 200px;
    width: auto;
    
    margin-top: 12%;
    margin-left: 6%;
}
#hero-img{
    width: 45%;
    max-width: 650px;
    
    margin-top: 12%;
/*    float: right;*/
    position: absolute;
    right: -1em;
    
    z-index: -1;
}
#hero-content{
    margin-left: 6%;
    margin-top: 8%;
    font-size: 1.4em;
}
#hero-button{
    display: inline-block;
    vertical-align: middle;
    margin-top: 2em;
}
#hero-app-download {
    margin-top: 4%;
    margin-left: 6%;
}
#hero-app-download p{
    margin-bottom: 48px;
}
.hero-heading {
    color: #303445;
    opacity: .6;
}
#appstore, #playstore {
    min-height: 56px;
}
#appstore:hover, #playstore:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .35);
}

/* #como-funciona */
#como-funciona .container-fluid {
    padding: 0;
}
.step-img-box {
    display: inline;
    margin: 0;
    padding: 0;
    width: 45%;
}
.step-img {
    max-width: 30%;
}
#upper-row {
    display: inline-block;
    margin-right: 0;
/*    width: 85%;*/
    text-align: right;
}
#lower-row {
    display: inline-block;
    margin-left: 0;
    text-align: left;
}

/* #contactanos */
#contact-form {
    width: 60%;
    margin: 36px auto;
/*    text-align: center;*/
}
#contact-form input, #contact-form textarea {
    width: 100%;
    margin-bottom: 1.4em;
}
#contact-form textarea {
    min-height: 180px;
}
.button-box {
    display: block;
    width: 100%;
    text-align: center;
}
#contact-form input.button {
    width: 120px;
    border: none;
}

/* #Footer */

#footer {
    background: #FBFBFB;
    box-shadow: 0px -2px 6px rgba(34, 177, 220, 0.35);
    min-height: 200px;
    display: block;
    padding: 1.4em;
}
#footer-ref {
    width: 300px;
    margin: 2.6em;
    text-align: center;
}
#social-media-list {
    min-width: 40%;
    max-width: 60%;
    margin:  auto;
    text-align: center;
}
.social-media {
    display: inline-block;
    margin: 0 1.3em;
    background: transparent;
}
.social-media:hover {
    transform: scale(1.1);
}
.privacy-policies {
    color: rgba(140, 72, 171, .6);
}

/**************************************/
/* WALLET APP */
#pockets-actions-mobile{
    display: none;
}
body.corner-img {
    background-image: url(../img/app-corner-img.svg);
    background-position: bottom right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 400px;
    
    height: 100%;
    min-height: 90vh;
}
/* ***** LOG IN ***** */

#logo-logbox {
    margin: 2em auto;
    height: 96px;
    
    width: 20%;
    text-align: center;
}
#logo-logbox img {
    height: 96px;
    width: auto;
    
    margin: 0 auto;
}

/* log in form */
#login-form input, #reg-form input {
    max-width: 95%;
}
#user-login:before {
    font-family: 'shiny-icon-font';
    
/*    padding: 8px;*/
    content: "\e00e";
}
.log-form-wrapper{
    width: 40%;
    margin: 0px auto;
}
.log-form-wrapper .fake-input {
    width: 100%;
    margin: 12px auto;
}
.log-form-wrapper .button {
    border: none;
    margin: 12px auto;
    width: 25%;
}

/* login fail */
/*
.fake-input {
    border: solid 1px rgba(210, 60, 44, .6);
    box-shadow: 0px 0px 8px rgba(210, 60, 44, .6);
}
*/
.form-error {
    font-size: 14px;
    color: rgba(210, 60, 44, 1);
    line-height: 80%;
    margin: -8px 0 12px 0;
    
    display: none;
}
/* Register form */
.terms-warning {
    text-align: center;
/*    width: 80%;*/
    margin: .5em auto;
}
.terms-warning p {
    margin-bottom: 0;
}
.form-item {
    max-height: 60px;
}
.info-box {
    font-size: .8em;
    color: rgba(19, 20, 27, .6);
}
.fake-input + .info-box {
    display: none;
}
.fake-input:focus-within + .info-box {
    display: block;
    width: 40%;
    padding: 1em;
    
    position: relative;
    top: -4.4em;
/*    right: -36.6em;  40.6em */
    left: 106%;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: 0px 4px 8px rgba(34, 177, 220, .6);
    
    animation: fadeIn;
    animation-duration: 800ms;
}

/* Modal */

.modal-backdrop {
    background-color: #303445;
    opacity: .6;
}
.modal {
    display: none;
    background: #fff;
    
    margin: auto;
    padding: 1.2em;
    min-width: 216px;
    max-width: 60vw;
    min-height: 60vh;
    max-height: 90%;
    height: fit-content;
    
    border: none;
    box-shadow: 0px 2px 6px rgba(34, 177, 220, .6);
    
    animation: modalFade;
    animation-duration: 200ms;
}
.modal-dialog {
    margin: 0;
    max-width: 100%;
}
.modal-header, .modal-body, .modal-footer {
    padding: 0;
    border: none;
}
.modal-header {
    position: sticky;
    right: 0;
/*    top: 0;*/
    
    padding: .5em .5em 0em 0em;
}
.modal .modal-content {
    border: none;
}
.modal-header button.close {
    padding: 0;
    outline: none !important;
    opacity: 1;
/*    margin: 0em .1em 0em auto;*/
}
.modal-header button.close .icon {
    color: rgba(140, 72, 171, 1);
}
.modal .modal-content .close-modal {
    color: rgba(140, 72, 171, 1);
    cursor: pointer;
    
    position: absolute;
    right: 0;
    top: 0;
    
    height: 24px;
    width: 24px;
    margin: -.9em -.9em .4em .4em;
}
.icon-delete::before {
    font-size: 24px;
}
.modal .modal-content .close-modal.icon-delete:hover, .modal-header button.close:hover {
    text-shadow: 0px 4px 4px rgba(140, 72, 171, .6);
}
.modal-content h4 {
    margin: 2em auto;
}
.modal-content h5 {
    font-size: 1.2em;
    margin-bottom: 1em;
}
.modal-text {
    text-align: center;
    width: 60%;
    margin: auto;
    opacity: .6;
}
.modal-accept {
    margin: 3em auto;
    outline: none !important;
    border: none !important;
}
#confirm-reg-mail {
    height: 50%;
    min-height: 400px;
    width: 40%;
}
/* modal forms */
.form-group {
    width: 100%;
    max-height: fit-content;
}
.form-group:last-child{
    margin: 0;
}
.form-group label {
    width: 4.6em;
    display: inline-block;
    text-align: right;
    white-space: nowrap;
/*    margin-right: 2em;*/
    margin-left: -2em;
}
.form-group .fake-input, .form-group .fake-select {
    margin: 0em .4em;
/*    min-width: 50%;*/
    width: 19em;
}

.form-group h3 {
    width: 15em;
    margin: 0em 1.4em 0em 0em;
    display: inline-block;
    text-align: right;
    
    font-size: 1.2em;
}
.form-group .pocket-curr{
    color: inherit;
    font-size: inherit;
}
.form-group .amount-box{
    text-align: right;
    padding: 0em .8em;
}
.form-group #camera-input, .form-group #QR-output {
    background-color: #E8E8E8;
    
    height: 25%;
    min-height: 10em;
    width: 25%;
    min-width: 10em;
    
    display: block;
    margin: 0 auto;
}
.form-group .option-label {
    margin: 0em 0em .2em 0em;
}
.form-group.hash-actions {
    max-height: 1.6em;
/*    display: inline;*/
}
.form-group.hash-actions .button {
    margin: 0em .8em;
}
/* ***** APP INSIDE ***** */

/* app navbar */
.nav-user {
    display: inline;
    vertical-align: baseline;
}

/* app balance*/
#dashboard-body, #options-body {
    display: block;
    position: absolute;
    top: 60px;
    
    padding: 2.6em 3.6em;
    
}
.balance-wrapper {
    padding: 0;
    margin: 0;
    
    display: inline;
}
.balance-title {
    font-size: 1em;
    color: #303445;
    text-align: left;
    
    margin: 0;
    padding: 0;
}
.gen-balance-box, .pen-balance-box {
    display: inline-block;
}
.gen-balance-box h2 .bal-amount, .gen-balance-box h2 .bal-unit, .pen-balance-box h2 .bal-amount, .pen-balance-box h2 .bal-unit {
    font-size: 1.4em;
    font-weight: bold;
}
.gen-balance-box h5 .bal-amount, .gen-balance-box h5 .bal-unit,
.pen-balance-box h5 .bal-amount, .pen-balance-box h5 .bal-unit {
    font-size: 1em;
    font-weight: 300;
}
.gen-amount .bal-amount, .gen-amount .bal-unit {
    color: #22b1dc;
}
.pen-amount .bal-amount, .pen-amount .bal-unit {
    color: #8C48AB;
}
/* app currency */
.curr-wrapper {
    
    display: inline-flex;
    vertical-align: top;
    
    white-space: nowrap;
    
    
    overflow-x: scroll;
    overflow-y: hidden;
    
    max-height: 46vh;
    max-width: 42vw;
}
/*
.curr-wrapper:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
}
*/
.curr-card {
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(34, 177, 220, .6);
    
    min-width: 24%;
    min-height: 100px;
    border: none;
    border-radius: 20%;

    vertical-align: top;
    margin: 1em .6em;
    padding: .4em;
    
    text-align: center;
    
    cursor: pointer;
}
.curr-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 28px rgba(34, 177, 220, 1);
    transition: all 100ms ease;
}
.focused {
    transform: scale(1.05);
    box-shadow: 0px 0px 28px rgba(34, 177, 220, 1) !important;
    transition: all 100ms ease;
}
.curr-card .cc {
    padding: 0;
    margin: 0 auto;
    
    vertical-align: top;
    font-size: 1.6em;
    color: #303445;
    text-align: center;
}
.curr-card h5 {
    font-size: .8em;
    margin: 0;
    line-height: 1.2em;
}

/* Action buttons */

.action-wrapper {
    text-align: right;
    margin-right: 20vw;
}
.action-wrapper.in-pocket{
    display: none;
}
.action-wrapper .button {
    max-height: 2em;
    vertical-align: bottom;
    outline: none !important;
    
    line-height: 1em;
    padding: 0.4em 1.2em;
    margin-right: 12px;
}
.action-wrapper .button .action-ic {
    height: 18px;
    width: auto;
    margin-right: .4em;
    
/*    float: left;*/
    display: inline-block;
    vertical-align: inherit;
}
.form-group .mini-btn .icon {
    color: #fff;
    margin-right: .4em;
    vertical-align: middle;
/*    font-size: .8em;*/
}
/* Graph */
#graph-block {
    background-color: #E8E8E8;
    
    width: 80%;
    height: 50%;
    min-height: 80vh;
    
    margin: 2em auto;
}

/* Currency states section */
.curr-state-row {
    margin: 2em auto;
}
.curr-st-card {
    max-width: 30%;
    min-height: 80px;
    padding: .8em .4em;
    display: inline-block;
    
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(34, 177, 220, .6);
    
    border-radius: 25px;
    margin: .6em 1em;
    
    cursor: pointer;
}
.curr-st-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 28px rgba(34, 177, 220, 1);
    transition: all 100ms ease-in-out;
}
.curr-st-ic {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    margin: auto 8px;
    text-align: center;
    max-width: 36px;
    padding: 0;
}
.curr-st-bal {
    display: inline-block;
    vertical-align: middle;
    min-height: 100%;
    
    padding: 0;
}
.curr-st-title {
    display: inline-block;
    
    font-size: 1em;
    font-weight: normal;
    min-width: 40%;
    
    opacity: .6;
    vertical-align: super;
    margin: 0;
}
.curr-st-name {
    font: inherit;
}
.curr-st-amount {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    
    min-width: 40%;
    vertical-align: sub;
    margin: 0;
}
.curr-st-var {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    min-height: 100%;
    
    padding: 0px .6em 0px 0px;
}
/* Per variations */
.income {
    color: #37CC71;
}
.outcome {
    color: #D23C2C;
}
.nochange {
    color: #22B1DC;
}
.curr-var-per {
    display: inline-block;
    vertical-align: super;
    
    font-size: 1em;
    font-weight: normal;
    
    margin: 0;
}
.curr-var-ic {
    height: 1em;
    width: 1em;
}
.curr-var-amount {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.curr-var-change {
/*    display: inline-block;*/
    vertical-align: sub;
    
    margin: 0;
    
    opacity: .6;
}

/* Wallet section */
#wallet-wrapper {
    margin: 5% 0;
}
h2.wrapper-subtitle{
    display: inline-block;
    margin-right: 2em;
}
h2.wrapper-subtitle+a.text-button {
    vertical-align: middle;
    padding-bottom: .1em;
}

#filter-pockets, #local-curr, #location {
    padding-left: 10%;
    width: 100%;
}
.fake-select .icon-filter {
    height: .8em;
    width: .8em;
    
    pointer-events: none;
    
    background-repeat: no-repeat;
    background-image: url("../img/vectors/ic/filter.svg");
    background-position: center center;
    background-size: cover;
}
#pocket-info h4{
    opacity: .6;
    display: inline-block;
    margin: 0 .2em 1em .2em;
}
#pocket-info #pocket-name {
    opacity: 1;
    color:  rgba(34, 177, 220, 1);
}
#pocket-graph {
    background: #e8e8e8;
    
    height: 64vh;
    max-height: 15em;
    width: 54vw;
    margin: 1.4em auto;
}

#pocket-list .curr-st-card {
    min-width: 90%;
/*    max-height: 4vh;*/
    padding: .6em .8em;
    margin: .6em auto;
}
.pocket-st-bal {   
    display: inline-block;
    vertical-align: middle;
    min-height: 100%;
    
    margin: 0;
}
.pocket-st-title, .pocket-st-quant, .pocket-st-name {
    font-size: 1em;
    font-weight: bold;
    color: #303445;
    text-transform: uppercase;
    
    margin-bottom: .2em;
 
}
.pocket-st-amount {
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    
    opacity: .6;
    
    min-width: 40%;
    vertical-align: sub;
    margin: 0;
}

.pocket-label {
    display: inline-block;
    vertical-align: top;
    color: #8C48AB;
    line-height: 1.1;
}

/* Transactions */
#pocket-trn-wrapper {
/*    margin-top: 2em;*/
    max-height: 100vh;
    overflow-y: scroll;
    min-width: 54vw;
}
.trn-item {
    min-width: 110%;
    margin: 1.6em auto;
}
.trn-border {
    display: block;
    border-bottom: 1px solid rgba(19, 20, 27, .15);
    min-height: 1px;
    width:  90%;
    
    margin-top: .4em;
}
.trn-item .trn-in, .trn-item .trn-out, .trn-item .trn-st {
    display: inline;
}
.trn-item .trn-in h3, .trn-item .trn-out h3, .trn-item .trn-st {
    font-size: .8em;
    text-align: left;
    
    display: inline-block;
    vertical-align: top;
    
    margin: 0em;
}
.hash-in, .hash-out {
    max-width: 20%;
    word-wrap: break-word;
}
.hash-in {
    color: #22B1DC;
}
.hash-out {
    color: #8C48AB;
}
.trn-st h3 {
    display: inline;
    vertical-align: top;
    opacity: .6;
}
    /*icons*/
.trn-ic  {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
    display: inline-block;
    vertical-align: top;
    
    height: 1.1em;
    width: auto;
    min-width: 1.1em;
    padding: 0em 1em;
    margin: 0em;
}
.trn-ic-in /*incoming*/{
    background-image: url("../img/vectors/transaction/list/income.svg");
}
.trn-ic-out /*outgoing*/{
    background-image: url("../img/vectors/transaction/list/outcome.svg");
}
.trn-ic-dbl /*transfer*/{
    background-image: url("../img/vectors/transaction/list/transfer.svg");
}

.trn-ic-pen /*pending*/{
    background-image: url("../img/vectors/transaction/status/pending.svg");
}
.trn-ic-con /*confirmed*/{
    background-image: url("../img/vectors/transaction/status/confirmed.svg");
}

.trn-info {
    display: inline-block;
    vertical-align: middle;
}
.trn-info .trn-amount, .trn-info .trn-date {
    text-align: right;
    margin: 0;
}
#trn-date {
    font-size: .8em;
    opacity: .6;
}
.trn-item .curr-st-ic {
    font-size: 1.4em;
    vertical-align: top;
}

/* ***** OPTIONS PAGE ***** */
#options-body {
    
}
.opt-title {
    text-align: left;
    opacity: .6;
    margin: 0em 0em 1em 1.6em;
}
.opt-item {
    margin: 1.4em 0em;
}
.opt-item label {
    min-width: 6.4em;
}
.opt-item .fake-select {
    margin: .4em;
}
.opt-item .fake-input {
    margin: .4em;
    min-width: 18em;
}
.opt-item .text-button {
    margin: .8em;
}
.opt-item .button {
    margin: .4em;
}

/*
********************
MEDIA QUERIES
********************
*/
