/* colors

purp - #8C48AB - rgba(140, 72, 171, 1)
blue - #22B1DC - rgba(34, 177, 220, 1)
black - #303445 - rgba(19, 20, 27, 1)

red - #D23C2C
green - #37CC71

*/
/* MOBIILE MEDIA */
@media screen and (min-device-width:320px) and (max-device-width:600px) and (orientation: portrait){
    html{
        box-sizing: border-box;
        content: 'mobile';
    }
    *{
        box-sizing: inherit;
        
        font-family: roboto, lato, Helvetica, sans-serif;
        font-size: 21px;
    }
    p, a, h3, h4, h5 {
        font-size: 1em;
    }
    body {
        width: 100vw;
        max-width: 100%;
        position: relative;
    }
    section {
        font-size: 1.2em;
    }
    .button {
        font-size: 1em;
    }
/* Inputs */
    input::placeholder, textarea::placeholder, select::placeholder {
        font-size: 1.2em;
    }
    .fake-input, .fake-select {
        height: 2.2em;
        min-height: 3em;
        border-radius: 1.5em;
        padding: .8em;
    }
    .fake-input input, .fake-select select{
        display: inline;
        vertical-align: middle;
    }
    .fake-input .icon {
        vertical-align: middle;
        font-size: 1.4em;
    }
/* Navbar */
    .navbar-wrapper {
        max-width: 100%;
        height: 8em;
        background: #FBFBFB;
        box-shadow: 0em .4em .6em rgba(34, 177, 220, 0.35);
    }
    .navbar {
        display: block;
/*        vertical-align: middle;*/
        width: 50%;
    }
    .navIcon{
        margin: 1.6em 0;
        width: 25%;
        display: inline-block;
        vertical-align: middle;
    }
    .navbar-inner {
        margin: 1.4em 0;
        width: 74%;
        display: inline-block;
        vertical-align: middle;
        
        font-size: 1em;
        text-align: right;
    }
    .navIcon img {
        vertical-align: middle;
        height: 4em; /*3em*/
        width: auto;
    }
    .navbar{
        background: #fbfbfb;
    }
    /* top nav for landing page mobile */
    body:not(.corner-img) .navbar .navlink{
        display: none;
        font-size: 1.4em;
        border-bottom: 1px solid rgba(140, 72, 171, .35);
        padding: .6em 0em;
    }
    .navOpen{
        position: fixed;
        top: 10em;
        right: 0;
        box-shadow: 0px 6px 12px rgba(34, 177, 220, .35);
        transition: all 200ms ease-out;
    }
    .navbar .navlink.open {
        display: block !important;
        margin: 1em 2em;
        z-index: 1000;
    }
    .button-wrap {
        display: inline-block;
        vertical-align: top;
        
        min-height: 3em;
        margin: 0;
        
        font-size: 1em;
    }
    .button-wrap .navlink.button{
        font-size: 1.2em; /*1em*/
        display: inline-block;
        vertical-align: middle;
        min-width: auto;
    }
    .icon.icon-menushort {
        display: inline-block;
        vertical-align: middle;
        
        font-size: 3em; /* 2em */
        color: rgba(140, 72, 171, 1) !important;
    } 
    /* APP NAV */
    body.corner-img .navbar {
        min-height: 8em;
        display: inline-flex;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        
        box-shadow: 0em -0.4em .6em rgba(34, 177, 220, 0.35);
        
        margin: 0;
        padding: 0;
    }
    body.corner-img .navbar li {
        display: inline-block;
        text-align: center;
    }
    .navlink-ic {
        color: rgba(140, 72, 171, 1);
        display: block;
        font-size: 3em;
        line-height: 1em;
        margin: 0;
    }
    *:not(.navbar) > .navlink {
        font-size: 1.6em;
    }
    /*MODAlS*/
    .modal {
        padding: 1.6em;
        min-width: 216px;
        max-width: 90vw;
        min-height: 60vh;
        max-height: 90%;
        height: fit-content;
        
        border: none;
        box-shadow: 0px 2px 6px rgba(34, 177, 220, .6);
        
        animation: modalFade;
        animation-duration: 200ms;
    }
    .modal-content{
        font-size: 1.2em;
    }
/* Hero section */
    #hero {
        text-align: center;
        margin: 20% auto;
    }
    #hero-logo {
        max-height: 12vh;
        width: auto;
        
        margin: 5vh auto;
    }
    #hero-content {
        margin: 8% auto;
    }
    #hero-img {
        position: absolute;
        top: 25vh;
        right: -1vw;
        width: 35%;
    }
    #hero-app-download {
        margin: 4% 0;
        text-align: left;
        padding-left: 5%;
    }
    #hero-app-download p {
        font-size: 1.4em;
    }
    #appstore img, #playstore img {
        min-height: 72px;
    }
/* Specs section */
    .specs {
    padding: 10% 15%;
    }
    .spec-element {
        margin-bottom: 5%;
    }
/* Como funciona section */
    .step-img-box{
        margin-right: -.8em;
    }
    .step-img {
        max-width: 35%;
    }
/* Contactanos section */
    #contact-form{
        width: 80%;
    }
    #contact-form input {
        min-height: 2.2em;
    }
    #contact-form textarea {
        min-height: 8.1em;
    }
    #contact-form input.button{
        width: 25%;
        max-width: 25%;
        font-size: 1.4em;
    }
/*    APP WEB MOBILE */
    body.corner-img {
        position: absolute;
        z-index: -1;
    }
/*    Register */
    #logo-logbox img{
        height: 8em;
        width: auto;
        margin: 2em auto;
    }
    .log-form-wrapper {
        width: 60%;
        margin: 20% auto;
        text-align: left;
    }
    .form-item {
        max-height: none;
        margin: .6em 0;
    }
    .log-form-wrapper .button{
        font-size: 1.2em;
        margin: 1em auto;
        width: auto;
    }
    #confirm-reg-mail {
        width: auto;
    }
    #logo-logbox {
        width: auto;
        height: 6em;
    }
    .log-form-wrapper .fake-input {
        display: inline-block;
    }
    #reg-form input, #login-form input{
        display: inline-block;
        vertical-align: top;
        font-size: 1.2em;
    }
    
    .terms-warning {
        font-size: 1.4em;
    }
    .terms-warning p .navlink {
        font-size: 1em;
    }
/*    Dashboard */
    
    /*navbar*/
    .nav-user {
        font-size: 1.6em; /*1em*/
    }
    .button-wrap > #log-out, #log-out {
        display: none;
    }
    
    /*dashboard body*/
    #dashboard-body {
        top: 8em;
        padding: 3.6em 0 8em 0;
        text-align: center;
    }
    /*balance headings*/
    .balance-wrapper {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .gen-balance-box, .pen-balance-box {
        min-width: 49%;
        font-size: 1.4em;
    }
    .gen-balance-box {
        text-align: left;
    }
    .pen-balance-box, .pen-balance-box .balance-title {
        text-align: right;
    }
    .balance-title {
        font-size: 1.2em;
    }
    h2.pen-amount, h2.gen-amount {
        font-size: 1.2em;
    }
    h5.pen-amount, h5.gen-amount {
        font-size: 1.2em;
    }
    /*currency cards*/
    .curr-wrapper {
        min-height: 10vh;
        width: 90%;
        min-width: 90%;
        margin: 1.4em auto;
    }
    .curr-card .cc {
        font-size: 3em;
    }
    .curr-name, .curr-amount {
        font-size: 1.6em;
    }
    /* action buttons */
    .action-wrapper {
        text-align: center;
        margin: 1em auto 3.6em auto;
    }
    .action-wrapper .button {
        margin: .8em;
        font-size: 1.4em;
    }
    .action-wrapper .button .action-ic {
        height: 1.4em;
    }
    /*graph*/
    #graph-block {
        width: 100%;
        min-height: 30vh;
    }
    /*currency status cards*/
    .curr-st-card {    
        min-width: 80%;
        max-width: 80%;
        min-height: 12vh;
        margin: 1em auto;
        padding: 1em .6em;
        border-radius: 50px;
    }
    .curr-st-ic {
        font-size: 3em;
        min-width: 1em;
        margin-right: .3em;
    }
    .curr-var-ic {
        font-size: inherit;
        vertical-align: middle;
    }
    .curr-st-bal, .curr-st-var {
        padding: 5% 0;
    }
    .curr-st-bal {
        text-align: left;
    }
    .curr-st-title, .curr-st-value, .curr-st-unit, .curr-var-per, .curr-var-sign, .curr-var-value, .curr-var-unit {
        font-size: 1.6em;
    }
    .curr-var-per {
        font-size: 1.8em;
    }
/*    Wallet */
    #wallet #dashboard-body {
        padding-top: 1.6em;
    }
    #pocket-data-desk{
        display: none;
    }
    #pockets-actions-mobile{
        display: inline-block;
        width: 100%;
        margin: auto;
    }
    #wallet .nav-user, #wallet .navIcon, #wallet .balance-wrapper{
        display: none;
    }
    #wallet .navbar-inner {
        max-height: 1px;
        margin: 0;
    }
    h2.wrapper-subtitle, h2.wrapper-subtitle+a.text-button {
        font-size: 2.1em;
        display: inline-block;
        vertical-align: middle;
        width: 44%;
    }
    h2.wrapper-subtitle {
        margin: 0 5% 0 0;
    }
    h2.wrapper-subtitle+a.text-button{
        margin-left: 5%;
    }
    h2.wrapper-subtitle+a.text-button .inner-button-text {
        font-size: 1em;
        white-space: nowrap;
    }
    #pocket-list-wrapper .fake-select {
        margin: 0 auto 2em auto;
        width: 80%;
    }
    #filter-pockets+.icon-left {
        left: -45%;
    }
    .icon-right {
        left: 45%;
    }
    #pocket-list .curr-st-card .curr-st-ic {
        font-size: 4em;
        width: 25%;
    }
    .pocket-label {
        font-size: 2.1em;
        line-height: 1.8em;
    }
    .pocket-st-bal {
        text-align: left;
    }
    .pocket-st-name, .pocket-st-quant {
        font-size: 1.8em;
    }
    #pocket-info {
        display: none;
    }
    .action-wrapper.all-pockets {
        display: none;
    }
    .action-wrapper.in-pocket {
        display: block;
        margin: 1.2em auto .8em auto;
    }
    .curr-st-card.focused {
        
    }
    @keyframes enlarge {
        0% {
            transform-origin: 0% 50%;
        }
        5% {
            transform: translate(100%;);
            width: 100%;
            border-radius: 0;
        }
        
    }
    
}

/* TABLET MEDIA */
@media screen and (min-device-width:601px) and (max-device-width:1279px) {
/* Default */
    *{
        font-size: 18px;
    }
/* Navbar */
    .navIcon img{
        height: 56px;
        width: auto;
    }
    .navbar {
        padding: 0;
    }
    .button-wrap {
        margin: 0;
    }
    .button-wrap .navlink.button {
        margin-right: .8em;
    }
    .navlink{
        margin-right: 1em;
        display: inline-block;
    }
    .icon.icon-menushort {
        display: none;
    }
    
    .curr-state-row {
        column-count: 2;
    }
    .curr-st-card {
        max-width: 45%;
        min-width: 45%;
    }
}

/* MID TO LOW RES DESKTOP SCREEN */

@media only screen and (min-device-width:1280px) and (max-device-width:1439px){

.trn-item .trn-st {
    width: 10%;
    text-align: center;
}

/* Currency states section */
.curr-st-card {
    height: 80px;
    white-space: nowrap;
}
.curr-st-bal {
    white-space: normal;
}
}

