
/* TABLET MEDIA */
@media only screen and (min-width:601px) and (max-width:1279px) {
    *{
        font-size: 18px;
    }
    .navIcon img{
        height: 56px;
        width: auto;
    }
    .navbar .navlink{
        display: inline-block;
    }
    .icon.icon-menushort {
        display: none;
    }
    
    .curr-state-row {
        column-count: 2;
    }
    .curr-st-card {
        max-width: 45%;
        min-width: 45%;
    }
}