@charset "UTF-8";

@font-face {
  font-family: "shiny-icon-font";
  src:url("fonts/shiny-icon-font.eot");
  src:url("fonts/shiny-icon-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/shiny-icon-font.woff") format("woff"),
    url("fonts/shiny-icon-font.ttf") format("truetype"),
    url("fonts/shiny-icon-font.svg#shiny-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "shiny-icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "shiny-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
  content: "a";
}
.icon-audio:before {
  content: "b";
}
.icon-award:before {
  content: "c";
}
.icon-back:before {
  content: "d";
}
.icon-backward:before {
  content: "e";
}
.icon-bag:before {
  content: "f";
}
.icon-ball:before {
  content: "g";
}
.icon-battery:before {
  content: "h";
}
.icon-bell:before {
  content: "i";
}
.icon-bigone:before {
  content: "j";
}
.icon-blocks:before {
  content: "k";
}
.icon-bluetooth:before {
  content: "l";
}
.icon-browser:before {
  content: "m";
}
.icon-cup:before {
  content: "n";
}
.icon-creditcard:before {
  content: "o";
}
.icon-conus:before {
  content: "p";
}
.icon-contacts:before {
  content: "q";
}
.icon-confirm:before {
  content: "r";
}
.icon-compass:before {
  content: "s";
}
.icon-coffee:before {
  content: "t";
}
.icon-coctail:before {
  content: "u";
}
.icon-cd:before {
  content: "v";
}
.icon-cloud:before {
  content: "w";
}
.icon-cartridge:before {
  content: "x";
}
.icon-camera:before {
  content: "y";
}
.icon-calendar:before {
  content: "z";
}
.icon-cursoure:before {
  content: "A";
}
.icon-delete:before {
  content: "B";
}
.icon-desctop:before {
  content: "C";
}
.icon-diagram:before {
  content: "D";
}
.icon-diamond:before {
  content: "E";
}
.icon-document:before {
  content: "F";
}
.icon-doodle:before {
  content: "G";
}
.icon-download:before {
  content: "H";
}
.icon-drop:before {
  content: "I";
}
.icon-edit:before {
  content: "J";
}
.icon-equalizer:before {
  content: "K";
}
.icon-export:before {
  content: "L";
}
.icon-eye:before {
  content: "M";
}
.icon-icecream:before {
  content: "N";
}
.icon-home:before {
  content: "O";
}
.icon-heart:before {
  content: "P";
}
.icon-grid:before {
  content: "Q";
}
.icon-go:before {
  content: "R";
}
.icon-gamepad:before {
  content: "S";
}
.icon-flash:before {
  content: "T";
}
.icon-flashdrive:before {
  content: "U";
}
.icon-flashlight:before {
  content: "V";
}
.icon-folder:before {
  content: "W";
}
.icon-forward:before {
  content: "X";
}
.icon-fork:before {
  content: "Y";
}
.icon-import:before {
  content: "Z";
}
.icon-key:before {
  content: "0";
}
.icon-keyboard:before {
  content: "1";
}
.icon-lab:before {
  content: "2";
}
.icon-lamp:before {
  content: "3";
}
.icon-letter:before {
  content: "4";
}
.icon-like:before {
  content: "5";
}
.icon-link:before {
  content: "6";
}
.icon-list:before {
  content: "7";
}
.icon-location:before {
  content: "8";
}
.icon-lock:before {
  content: "9";
}
.icon-medecine:before {
  content: "!";
}
.icon-menuclassic:before {
  content: "\"";
}
.icon-picture:before {
  content: "#";
}
.icon-pause:before {
  content: "$";
}
.icon-outlet:before {
  content: "%";
}
.icon-notepad:before {
  content: "&";
}
.icon-nature:before {
  content: "'";
}
.icon-mouse:before {
  content: "(";
}
.icon-moon:before {
  content: ")";
}
.icon-more:before {
  content: "*";
}
.icon-mobile:before {
  content: "+";
}
.icon-mic:before {
  content: ",";
}
.icon-messages:before {
  content: "-";
}
.icon-menushort:before {
  content: ".";
}
.icon-menudots:before {
  content: "/";
}
.icon-pin:before {
  content: ":";
}
.icon-planet:before {
  content: ";";
}
.icon-play:before {
  content: "<";
}
.icon-plus:before {
  content: "=";
}
.icon-portfolio:before {
  content: ">";
}
.icon-printer:before {
  content: "?";
}
.icon-processor:before {
  content: "@";
}
.icon-protect:before {
  content: "[";
}
.icon-pulse:before {
  content: "]";
}
.icon-random:before {
  content: "^";
}
.icon-rating:before {
  content: "_";
}
.icon-refresh:before {
  content: "`";
}
.icon-sale:before {
  content: "{";
}
.icon-timer:before {
  content: "|";
}
.icon-temperature:before {
  content: "}";
}
.icon-target:before {
  content: "~";
}
.icon-switchers:before {
  content: "\\";
}
.icon-sun:before {
  content: "\e000";
}
.icon-star:before {
  content: "\e001";
}
.icon-smalllist:before {
  content: "\e002";
}
.icon-slider:before {
  content: "\e003";
}
.icon-share:before {
  content: "\e004";
}
.icon-settings:before {
  content: "\e005";
}
.icon-send:before {
  content: "\e006";
}
.icon-search:before {
  content: "\e007";
}
.icon-save:before {
  content: "\e008";
}
.icon-trash:before {
  content: "\e009";
}
.icon-twoblocks:before {
  content: "\e00a";
}
.icon-unlike:before {
  content: "\e00b";
}
.icon-upload:before {
  content: "\e00c";
}
.icon-video:before {
  content: "\e00d";
}
.icon-user:before {
  content: "\e00e";
}
.icon-volume:before {
  content: "\e00f";
}
.icon-wallet:before {
  content: "\e010";
}
.icon-washer:before {
  content: "\e011";
}
.icon-wi-fi:before {
  content: "\e012";
}
.icon-help:before {
  content: "\e013";
}
